<mat-toolbar class="mat-elevation-z4" color="primary">

  <button mat-button routerLink="/">
      {{title}}</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxLayoutAlign="center center" fxShow="false" fxShow.gt-sm>
    <a fxLayoutAlign="center center" mat-button [href]="repoLink">
      <mat-icon>code</mat-icon>
    </a>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <a mat-menu-item [href]="repoLink">Github</a>
</mat-menu>
<div id="header-spacer"></div>
<router-outlet></router-outlet>
