.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
 flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  z-index: 1;
  button, div, a {
    height: 100%;
  }
}

#header-spacer {
  height: 64px;
}

@media (max-width: 599px) {
  #header-spacer {
    height: 56px;
  }
}
