<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="content" fxLayout="column" fxLayoutAlign="start center">
  <div id="name-div" class="large-section">
    <h1 class="mat-display-4">Alex Kim</h1>
    <div id="link-icons" fxLayout="row" fxLayoutAlign="space-between center">
      <a class="fa fa-github" href="https://github.com/FluffyPenguin"></a>
      <a class="fa fa-linkedin" href="https://www.linkedin.com/in/alexkimt/"></a>
      <a class="fa fa-facebook" href="https://www.facebook.com/alex.kim.31508"></a>
      <a class="fa fa-envelope" href="mailto:alexkimt@gmail.com"></a>
    </div>
  </div>
  <div id="about-div" class="large-section">
    <mat-card>
      <mat-card-title>About me</mat-card-title>
      <mat-card-content>
        Hello! This is the about me section where I can talk about whatever I want about myself. I am a second year student studying Computer Science at Georgia Tech. <br>
        This is more stuff about me. <br>
        And even more stuff about me. <br>
        Did you know this is more stuff about me? <br>
        And even more stuff about me!!!! <br>
        AND EVEN MORE STUFF ABOUT ME <br>
      </mat-card-content>
    </mat-card>
  </div>
  <div id="experience-div" class="large-section">
    <h1 class="mat-display-3">Experience</h1>
    <mat-card>
      <mat-card-title>Google STEP</mat-card-title>
      <mat-card-subtitle>Summer 2020</mat-card-subtitle>
      <mat-card-content>
        This is the stuff I did during the summer.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Lockheed Martin</mat-card-title>
      <mat-card-subtitle>sometime when</mat-card-subtitle>
      <mat-card-content>
        This is the stuff I did during the summer.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>fun stuff</mat-card-title>
      <mat-card-subtitle>ayyy</mat-card-subtitle>
      <mat-card-content>
        This is the stuff I did during the summer.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>fun stuff</mat-card-title>
      <mat-card-subtitle>ayyy</mat-card-subtitle>
      <mat-card-content>
        This is the stuff I did during the summer.
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>fun stuff</mat-card-title>
      <mat-card-subtitle>ayyy</mat-card-subtitle>
      <mat-card-content>
        This is the stuff I did during the summer.
      </mat-card-content>
    </mat-card>
  </div>

</div>
