<div id="content" fxLayout="column" fxLayoutAlign="start center">
  <div id="name-div" class="large-section">
    <h1 class="mat-display-4">Alex Kim</h1>
    <div id="linkIcons">
      Links go here
    </div>
  </div>
  <div class="large-section">
    <mat-card>
      <mat-card-title>About me</mat-card-title>
      Hello! This is the about me section where I can talk about whatever I want about myself. I am a second year student studying Computer Science at Georgia Tech.
    </mat-card>
  </div>


</div>
