<div fxLayout="column" fxLayoutAlign="center center" width="100%">
  <mat-card class="mat-elevation-z5">
    <mat-card-title>Summary</mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum ab autem culpa ex sequi, atque provident accusantium quas velit quaerat quos minima dignissimos officia reprehenderit libero! Nemo sint repellendus necessitatibus?
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z5">
    <mat-card-title>Background</mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum ab autem culpa ex sequi, atque provident accusantium quas velit quaerat quos minima dignissimos officia reprehenderit libero! Nemo sint repellendus necessitatibus?
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z5">
    <mat-card-title>Methods</mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum ab autem culpa ex sequi, atque provident accusantium quas velit quaerat quos minima dignissimos officia reprehenderit libero! Nemo sint repellendus necessitatibus?
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z5">
    <mat-card-title>Results</mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum ab autem culpa ex sequi, atque provident accusantium quas velit quaerat quos minima dignissimos officia reprehenderit libero! Nemo sint repellendus necessitatibus?
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z5">
    <mat-card-title>References</mat-card-title>
    <mat-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum ab autem culpa ex sequi, atque provident accusantium quas velit quaerat quos minima dignissimos officia reprehenderit libero! Nemo sint repellendus necessitatibus?
    </mat-card-content>
  </mat-card>
</div>
